.completeEntryDiv {
    text-align: center;
    margin: 50px;
}

.completeEntryDiv button {
    margin: 20px 0px;
}

.detailsDiv {
    text-align: left;
}

.redText {
    color: red;
}

.greenText {
    color: green;
}

.boldText {
    font-weight: bold;
}


.greenBtn {
    background-color: rgb(81, 163, 81);
    margin: 0px 20px;
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 5px;
}

.greenBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 10px green;
}

.exs_button{
    background: rgb(8, 8, 8);
    padding: 9px 25px;
    border: solid 1px transparent;
    border-radius: 8px;
    margin: 10px;
    color: #e0c031ef;
}
.exs_button:hover {
    background-color: #e0c031ef;
    color: black;
    font-weight: bolder;
}